/* css */ 

body {
 margin:0px;
 padding:0px;
 background-color:black;
}

 #header { 
     background-color:gray; /* sets the background */ 
       padding:0px;
      color:white;
 }
 
 #header h1{
     padding:20px 40px;
     margin:0px;
     font-family:verdana;
     font-size:60pt;
 }
 
 /* navigation */
  #nav,#nav a { 
     background-color:#ccc;  /* this changes the background color to #ccc */
     padding:10px;
    transition:background-color 2s;  /* this transition the background color */
 }
 
#nav a {
    margin:0px;
    color:black;
    font-family:arial;
    text-decoration:none;  /* this removes the underline */
}

 #nav a:hover {
     background-color:#aaaaff;
     transition:background-color 1s;
     color:white;
     
  SSz
 }
 
 #content{
  padding:20px 40px;
  background-color:#eee;
  margin:0px;
 }
 
 #content h2, #content h3{
  font-family:arial;
 }
 
 #footer{
  background-color:black;
  color:white;
  margin:0px;
  padding:20px;
 }
 
#footer a {
     text-decoration:none;
}
 
#spotlight{
 background-color:pink; 
 padding:20px;
}
 /* end navigation */
 
 
/*
#header{
    background-color:gray;
    width:400px;
    padding:20px;
    
}
#header:hover{
    background-color:pink;
    transition: background-color 2s;
}
*/
